header {
  height: 70vh;
  background-image: url(../media/banner3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 50%;
}

.main-nav {
  display: none;
}

@media (min-width: 82rem) {
  .main-nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    position: absolute;
    right: -2%;
    top: 10%;
  }
}

.header-info svg {
  fill: rgb(255, 255, 255);
}

.header-info--card {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  right: 5%;
  top: 55%;
}

@media (min-width: 82rem) {
  .header-info--card {
    top: 50%;
  }
}
 
.svg-1 {
  width: auto;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding: 1rem;
}

.svg-2 {
  width: 13rem;
}

@media (min-width: 82rem) {
  .svg-2 {
    padding: 0;
    margin: 0;
    width: 30rem;
  }
}

.header-info ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0;
  width: 100%;
  margin: 0;
}

.header-info li {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 50%;
  text-align: center;
  font-size: 0.65rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

@media (min-width: 82rem) {
  .header-info li {
    width: 10%;
  }
}


.header-info li:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
 
.header-info li span {
  font-weight: bold;
  font-size: 0.9rem;
  padding: 1rem;
  padding-bottom: 0rem;
}

.header-info li a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-info a:hover {
  color: rgb(0, 0, 0);
}

/*css details */

.detail-wrapper {
  margin-top: 1rem;
}

@media(min-width:55rem) {
  .detail-wrapper {
    display: flex;
  }
 }

.text-top h1 {
  font-weight: 800;
  font-size: 3rem;
}

.text-top h2 {
  font-weight: bold;
  font-size: 2rem;
}

.text-middle{
  margin-bottom: 2rem;
}

.details-more span {
  font-weight: bold;
  
}



.img-wrapper img {
  padding: 1rem;
  object-fit: cover;
  object-position: center;
  width: 90%;
  height: 100%;
  max-width: 30rem;
}

@media(min-width:55rem) {
  .img-wrapper img {
    width: 30rem;
    height: 30rem;
  }
 }

.text-wrapper {
  padding: 1rem;
}

.more {
  margin-left: auto;
  margin-right: auto;
}

.more h2 {
  padding-left: 2.5rem;
}

.more-events {
  list-style: none;
  width: 90%;
}

.more-events li {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  padding: 1rem;
}

.more-events a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.more-events a p:first-child{
  font-weight: bold;
}

.more-events a p:nth-child(2){
  font-weight: bold;
}

@media(min-width:50rem) {
  .more-events a {
    display: flex;
    justify-content: space-between;
    
  }
}
