header {
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 50%;
}

.main-nav {
  display: none;
}

@media (min-width: 82rem) {
  .main-nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    position: absolute;
    right: -2%;
    top: 10%;
  }
}

/* css aside */

.header-info {
  background-color: rgb(255, 255, 255);
  
}

@media (min-width: 82rem) {
  .header-info {
    position: absolute;
    top: 25%;
    right: 14%;
    background-color: inherit;
    width: 12rem;
    height: 0rem;
  }
}

.header-info--card {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 50rem) {
  .header-info--card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}

.header-info svg {
  fill: rgb(0, 0, 0);
}

@media (min-width: 82rem) {
  .header-info svg {
    fill: rgb(0, 0, 0);
  }
}

@media (min-width: 82rem) {
  .header-info svg {
    fill: rgb(255, 255, 255);
  }
}

.svg-1 {
  width: auto;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding: 1rem;
}

@media (min-width: 82rem) {
  .svg-1 {
    transform: rotate(270deg);
    padding: 0;
  }
}

.svg-2 {
  width: 13rem;
}

@media (min-width: 82rem) {
  .svg-2 {
    padding: 0;
    margin: 0;
    width: 18rem;
  }
}

.header-info ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0;
  width: 100%;
  margin: 0;
}

@media (min-width: 82rem) {
  .header-info ul {
    background-color: rgb(0, 0, 0);
    position: static;
    margin-top: 2.5rem;
    background-color: inherit;
    width: 20rem;
    margin-left: 4rem;
  }
}

.header-info li {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 50%;
  text-align: center;
  font-size: 0.65rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

@media (min-width: 50rem) {
  .header-info li {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 10%;
  }
}

@media (min-width: 82rem) {
  .header-info li {
    width: 20%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }
}

.header-info li:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

@media (min-width: 82rem) {
  .header-info li:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
}

@media (min-width: 82rem) {
  .header-info a:hover {
    color: white;
    width: 100%;
    height: 100%;
  }
}

.header-info li span {
  font-weight: bold;
  font-size: 0.9rem;
  padding: 1rem;
  padding-bottom: 0rem;
}

.header-info li a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-info a:hover {
  color: rgb(0, 0, 0);
}

@media (min-width: 82rem) {
  .header-info li a {
    color: rgb(0, 0, 0);
  }
}

@media (min-width: 82rem) {
  .header-info li a:hover {
    color: rgb(255, 255, 255);
  }
}

/*news css*/

.news-wrapper {
  list-style: none;
  width: 90%;
  padding-top: 2rem;
}

@media (min-width: 52rem) {
  .news-wrapper {
    width: 62%;
    margin-left: auto;
    margin-right: auto;
  }
}

.news-card a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 0.75rem;
}

.news-more {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  text-decoration: none;
  padding: 1rem;
  margin-top: 1rem;
}

@media (min-width: 42rem) {
  .news-more {
    margin-left: 1rem;
  }
}


.news-more:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

@media (min-width: 90rem) {
  .news-card a {
    display: flex;
    padding: 1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.75rem;
  }
}

.news-card h2 {
  font-size: 1.2rem;
  font-weight: 800;
}

@media (min-width: 42rem) {
  .news-card h2 {
    font-size: 2rem;
  }
}

.news-card h2:hover {
  text-decoration: underline;
}

.news-card p {
  font-weight: 400;
}

.news-img-wrapper {
  overflow: hidden;
}

.news-img-wrapper img {
  transform: scale(1);
  transition: ease-in-out 0.2s;
}

.news-img-wrapper img:hover {
  transform: scale(1.2);
}


.news-card img {
  width: 100%;
  
}

@media (min-width: 32rem) {
  .news-card img {
    max-width: 40rem;
    padding-right: 0;
  }
}

.news-card--right {
  padding: 1rem;
}

@media (min-width: 42rem) {
  .news-card--right {
    width: 50%;
    padding-left: 0.5rem;
    margin: 1rem;
  }
}

.news-card--right p {
  font-size: 1.2rem;
}



/* css big image */

.picture {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.picture img {
  max-width: calc(100% - 0rem);
}

@media (min-width: 96rem) {
  .picture img {
    width: 58%;
    padding-left: 25rem;
    padding-right: 25rem;
  }
}

/* css twitter */

.twitter-wrapper {
  margin-top: 4rem;
  padding: 1.5rem;
}

@media (min-width: 42rem) {
  .twitter-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 96rem) {
  .twitter-wrapper {
    padding-left: 25rem;
    padding-right: 25rem;
  }
}

@media (min-width: 42rem) {
  .twitter-card {
    width: 50%;
    padding: 1rem;
  }
}

.twitter-card img {
  width: 100%;
}

.twitter-svg {
  display: flex;
  width: 40%;
  padding-top: 1rem;
}

.twitter-info h2 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4rem;
}

.twitter-info p {
  font-size: 0.75rem;
  font-weight: normal;
}

@media (min-width: 52rem) {
  .twitter-info p {
    padding-top: 1rem;
  }
}


.carousel-inner {
  width: 100%;
  height: 100%;
  margin-top: 4rem;
}

.picture img {
  max-width: calc(100% - 0rem);
}

@media (min-width: 96rem) {
  .carousel-inner img {
    width: 55%;
    padding-left: 25rem;
    padding-right: 25rem;
  }
}

@media (min-width: 96rem) {
  .carousel-control-prev{
    width: 55%;
    padding-left: 25rem;
    padding-right: 25rem;
  }
}

@media (min-width: 96rem) {
  .carousel-control-next{
    width: 55%;
    padding-left: 25rem;
    padding-right: 25rem;
  }
}

