
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0rem;
}

a:focus {
  border: dashed red;
}

button:focus {
  border: dashed red;
}

/* header css */

@media (min-width: 60rem) {
  header {
    height: 32rem;
  }
}

@media (min-width: 82rem) {
  .master-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
  }
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.main-nav ul li {
  padding: 0.5rem;
}

.main-nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.main-nav a:hover::after {
  display: block;
  content: "";
  width: 50%;
  position: relative;
  left: 25%;
  height: 2px;
  background: rgb(255, 255, 255);
}

.nav-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 9rem;
}

@media (min-width: 50rem) {
  .logo {
    width: 14rem;
  }
}

.burger-icon {
  fill: rgb(255, 255, 255);
}

/* burger-nav css */

.burger {
  border: none;
  background-color: inherit;
}

@media (min-width: 82rem) {
  .burger {
    display: none;
  }
}

.burger-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  z-index: 10;
  transform: translateX(100%);
}

.burger-nav > ul {
  display: block;
  font-weight: bold;
  list-style: none;
}

.burger-nav li {
  padding: 1rem;
}

.burger-nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.burger-nav a:hover {
  text-decoration: underline;
}

.dropdown {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
}

.dropdown:hover {
  text-decoration: underline;
}

.dropdown-arrow {
  margin-left: 1rem;
  transform: rotate(0);
  transition: 0.1s ease-in-out;
}

.rotate-arrow {
  transform: rotate(180deg);
}

.dropdown-menu {
  display: none;
  border-left: 5px solid rgb(255, 255, 255);
}

.show-dropdown-menu {
  display: block;
}

.close-burger-nav {
  border: none;
  background-color: inherit;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  right: 3%;
  top: 3%;
  transition: ease 0.4s;
}

.close-burger-nav:hover {
  transform: rotate(180deg);
}

.show-burger-nav {
  transform: translateX(0);
}

/* search-bar css */

.search-container {
  display: none;
}

@media (min-width: 82rem) {
  .search-container {
    display: flex;
    margin: 1rem;
  }
}

.search-container input {
  width: 12rem;
  padding: 0.5rem;
  background-color: #e9e9e9;
  border: none;
}

.search-button {
  background-color: inherit;
  border: none;
  margin-right: 1rem;
}

.search {
  fill: rgb(255, 255, 255);
}

.language {
  background-color: inherit;
  color: rgb(255, 255, 255);
  border: none;
}

/* css hightlights*/
.events {
  list-style: none;
}

.events__2 {
  list-style: none;
}

@media (min-width: 55rem) {
  .events {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 55rem) {
  .events__2 {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 2rem;
  }
}

@media (min-width: 55rem) {
  .program {
    width: 50%;
  }
}

@media (min-width: 80rem) {
  .program {
    width: 33%;
  }
}

@media (min-width: 100rem) {
  .program {
    width: 25%;
  }
}

.program a {
  text-decoration: none;
}

@media (min-width: 55rem) {
  .program a {
    width: 25rem;
    height: 15rem;
  }
}

.program a img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 55rem) {
  .program a img {
    width: 25rem;
    height: 15rem;
  }
}

.program-container {
  padding-right: 2rem;
}

.program-date {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.5rem;
  position: relative;
  top: -1.2rem;
  left: 1rem;
}

.program h3 {
  font-size: 1.8rem;
  color: black;
  font-weight: 800;
}

.program p {
  color: black;
  font-size: 1.2rem;
}

/* css newsletter */

.subscribe-wrapper {
  padding: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 32rem) {
  .subscribe-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 70rem) {
  .subscribe-wrapper {
    width: 50%;
  }
}

@media (min-width: 32rem) {
  .subscribe-card {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.subscribe-wrapper h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

@media (min-width: 32rem) {
  .subscribe-wrapper h2 {
    font-size: 2.4rem;
  }
}

.subscribe-wrapper p {
  font-size: 1.2rem;
}

.subscribe-card--form label {
  font-size: 1.2rem;
}

.input1 {
  background-color: #e9e9e9;
}

.input2 {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 0.2rem;
}

.input-wrapper {
  width: 100%;
}

/* css footer */
footer {
  height: 50vh;
  background-image: url(../media/Rectangle\ 51.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 50%;
  margin-top: 3rem;
}

.footer-logo {
  width: 8rem;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  position: absolute;
  left: 5%;
}

.socials-footer {
  padding-top: 8rem;
  padding-left: 1rem;
  color: rgb(255, 255, 255);
  background-color: inherit;
}

.socials-buttons {
  display: flex;
}

.buttons {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  margin: 0.3rem;
  border: none;
}

.buttons:hover {
  background-color: #2b2b2b;
}

.buttons svg:hover {
  fill: rgb(255, 255, 255);
}

/* extra css bottom */

.go-away {
  display: none;
}

.footer-bottom p {
  font-size: 0.9rem;
  color: #6f6f6f;
}

.footer-bottom {
  padding: 1rem;
}

@media (min-width: 50rem) {
  .footer-bottom {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 50rem) {
  .footer-bottom img {
    padding: 0.5rem;
  }
}

@media (min-width: 60rem) {
  .go-away {
    display: inline;
  }
}
